@font-face {
  font-family: 'iconfont';  /* project id 1195028 */
  src: url('//at.alicdn.com/t/font_1195028_b5augw24wtq.eot');
  src: url('//at.alicdn.com/t/font_1195028_b5augw24wtq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1195028_b5augw24wtq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1195028_b5augw24wtq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1195028_b5augw24wtq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1195028_b5augw24wtq.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baiyangzuo:before {
  content: "\e603";
}

.icon-jinniuzuo:before {
  content: "\e604";
}

.icon-shuangzizuo:before {
  content: "\e605";
}

.icon-juxiezuo:before {
  content: "\e606";
}

.icon-shizizuo:before {
  content: "\e607";
}

.icon-chunvzuo:before {
  content: "\e608";
}

.icon-tianchengzuo:before {
  content: "\e609";
}

.icon-tianxiezuo:before {
  content: "\e60a";
}

.icon-sheshouzuo:before {
  content: "\e60b";
}

.icon-mojiezuo:before {
  content: "\e60c";
}

.icon-shuipingzuo:before {
  content: "\e60d";
}

.icon-shuangyuzuo:before {
  content: "\e60e";
}

.icon-xingzuo:before {
  content: "\e662";
}

